@{
    ViewData["Title"] = "Solve Page";
}
<h1>@ViewData["FizzBuzz Challenge"]</h1>

<hr />
@using (Html.BeginForm("Solve", "Home", FormMethod.Post))
<div class="container">
    <div class="row">
        <div class="col"><input type="text" class="form-control" id="btnFizz"></div>
        <div class="col"><input type="text" class="form-control" id="btnBuzz"></div>
        <div class="col"><button onclick="btnFizzBuzz" class="btn btn-primary" id="btnFizzBuzz">Submit</button></div>
    </div>
</div>

<hr />

<div class="container">
    <div class="col">
        The calculated output is: @ViewData["Output"]
    </div>
</div>

<hr />
